<div class="pull-right action-buttons">    
    <%= link_to '<span class="far fa-edit fa-lg"></span>'.html_safe, edit_company_contact_path(id: ct.id,company_id: ct.company_id ), title: "Edit", data: { no_turbolink: true },:remote=> true , "data-toggle" => "modal", "data-target" => "#modal-window" %>    
    <%= link_to '<span class="far fa-trash-alt fa-lg"></span>'.html_safe, company_contact_path(id: ct.id,company_id: ct.company_id ), method: :delete, title: 'Destroy', data: { confirm: 'Are you sure?' } %>    
</div>