<script>
  function copyToClipboard(text) {
    const elem = document.createElement('textarea');
    elem.value = text;
    document.body.appendChild(elem);
    elem.select();
    document.execCommand('copy');
    document.body.removeChild(elem);
    toastr.success(text+' copied to clipboard!', '', { closeButton: true, progressBar: true })
  }
  </script>
<div class="card">
  <div class="header">
    <strong>
      <%= "Contacts" %>
    </strong>
    

      <strong>
        <%= " for #{Company.find(params[:company_id]).name}" %>
      </strong>
    

        
  </div>
  <div class="body">
    <div data-turbolinks="false">
      <table class="table table-responsive" id="table-regular" data-toggle="table" data-url="<%="
        #{company_contacts_path(authenticity_token: form_authenticity_token)}"%>"
        data-sortable="true"
        data-page-size="10"
        data-search="true"
        data-side-pagination="client"
        data-select-item-name="id[]"
        data-click-to-select="true"
        data-id-field="id"
        >
        <thead>
          <tr>
            <th data-field="id" data-switchable="false" data-visible="false">ID</th>
            <th data-field="name_lastname" data-width="50" data-width-unit="%">Name</th>
            <th data-field="jobposition" data-width="20" data-width-unit="%">Job position</th>
            <th data-field="email" data-width="20" data-width-unit="%">E-mail</th>
            <th data-field="phone" data-width="20" data-width-unit="%">Phone</th>
            <th data-field="actions" data-width="20" data-width-unit="%">Actions</th>
          </tr>
        </thead>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
        <br>
    </div>
  </div>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>